html{
    font-size: 10px;
    font-family: tahoma;
}
nav{
    background-color: gray;
}
ul{
    list-style: none;
    text-align: end;
    font-weight: 800;
}
li{
    margin: 0 0.2rem;
    padding: 1rem 2rem ;
    display: inline-block;
    border: 1px solid #000;
}

.grupoDivs{
    width: auto;
    height: 25rem;
    background-color: yellow;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.grupoDivs__cajas{
    width: 15rem;
    height: 15rem;
    background-color: orange;
}